<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <form method= 'POST' action={{url_for('landing_page')}}>
            <button type="submit" id="Back" name="Back" value='Back'>Back</button>
        </form>
        <div class="container">
            <h1>User Profile</h1>
    
            <div class="profile-info">
                <h2>Profile Information</h2>
                <p><strong>Name:</strong> {{ user_name }}</p>
                <p><strong>Email:</strong> {{ user_email }}</p>
            </div>
    
            <div class="watch-list">
                <h2>Watch List</h2>
                <ul>
                    {% for item in watch_list %}
                    <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
    </body>
</html>