<!DOCTYPE html>
<html>

<head></head>
<header></header>

<body>
    <form method='POST' action={{url_for('landingPage')}}>
        <button type="submit" id="Back" name="Back" value='Back'>Back</button>
    </form>
    <div class="container">
        <h1>User Profile</h1>

        <div class="profile-info">
            <h2>Profile Information</h2>
            <p><strong>Name:</strong> {{ user_name }}</p>
            <p><strong>Email:</strong> {{ user_email }}</p>
        </div>

        <div class="watch-list">
            <h2>Watch List</h2>
            <ul>
                {% for item in watch_list %}
                <li>{{ item.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <footer></footer>
    <script src="../js/head.js"></script>
    <script src="../js/footer.js"></script>
</body>

</html>